<%= render :partial => '/shared/pic' if current_user? %>

<h1>
  Give Good Sunflower
  <div class='tilde'>
    <a href='/' title='Home - Give Good Sunflower' class='tilde'><img src='/images/sunflower.png' class='sunflower' /></a>
  </div>
</h1>

<div class='home'>
  <b>
    <% if current_user %>
      O hai, <%= current_user.login %>.
      <% if current_user.articles.unread.count == 0 %>
        You have no unread things, why not check back in an hour or so?
        <% if current_user.articles.read.count > 0 %>
          Or try your <a href='/archives'>archives</a> for something to re-read!
        <% end %>
      <% elsif current_user.articles.unread.count > 0 && current_user.articles.read.count > 0 %>
        You have <%= pluralize(current_user.articles.unread.count, 'new thing') %> <a href='/r'>in your stream</a>, and <%= pluralize(current_user.articles.read.count, 'thing') %> <a href='/archives'>archived</a>.
      <% else %>
        You have <%= pluralize(current_user.articles.unread.count, 'new thing') %> <a href='/r'>in your stream</a>.
      <% end %>
    <% else %>
      O hai?
      <br/>
      <%= link_to 'Login', '/auth/twitter' %> or <%= link_to 'sign up', '/auth/twitter' %>.
    <% end %>
  </b>

  <ol>
    <li>Sign in and all the links in your twitter stream will be pseudo-<a href='http://instapaper.com'>instapaper'd</a> and available to read.</li>
    <li>Why? See <a href=' http://suttree.com/2011/01/04/twitter-from-the-inside-out/'> http://suttree.com/2011/01/04/twitter-from-the-inside-out</a>.</li>
    <li>Created by <a href='http://suttree.com'>Duncan Gough</a>, with a spoonful of help from <a href='https://github.com/peterc/pismo'>pismo</a>. Code available on <a href='https://github.com/suttree/Give-Good-Sunflower'>github</a>.</li>
  </ol>

  <%= render :partial => 'shared/twitter_button' %>

  <h3>Recent updates:</h3>
  <ul>
    <li>Reversed <a href='/unread'>unread</a> lists are cooler being late to the party than ahead of the curve.</li>
    <li>Various bug fixes, formatting, copy and style changes.</li>
    <li>See more <a href='https://twitter.com/#!/suttree/status/49962902131707905'>rebugging</a> and updates on <a href='https://github.com/suttree/Give-Good-Sunflower/commits/master'>GitHub</a></li>
  </ul>

</div>
