<%= render :partial => '/shared/pic' if current_user? %>

<h1>
  Give Good Sunflower
</h1>

<div class='home'>
  <b>
    <% if current_user %>
      O hai, <%= current_user.login %>.
      <% if current_user.articles.unread.count == 0 %>
        You have no unread things, why not check back in an hour?
        <% if current_user.articles.read.count > 0 %>
          Or try your <a href='/archives'>archives</a> for something to re-read!
        <% end %>
      <% elsif current_user.articles.unread.count > 0 && current_user.articles.read.count > 0 %>
        You have <%= pluralize(current_user.articles.unread.count, 'thing') %> <a href='/unread'>unread</a>, and <%= pluralize(current_user.articles.read.count, 'thing') %> <a href='/archives'>archived</a>.
      <% else %>
        You have <%= pluralize(current_user.articles.unread.count, 'thing') %> <a href='/unread'>unread</a>.
      <% end %>
    <% else %>
      O hai?
      <br/>
      <%= link_to 'Login', '/auth/twitter' %> or <%= link_to 'sign up', '/auth/twitter' %>.
    <% end %>
  </b>

  <ol>
    <li>Sign in and all the links in your twitter stream will be pseudo-<a href='http://instapaper.com'>instapaper'd</a> and available to read.</li>
    <li>Why? See <a href='http://suttree.com/2010/12/29/twitter-from-the-inside-out/'>http://suttree.com/2010/12/29/twitter-from-the-inside-out</a>.</li>
    <li>Created by <a href='http://suttree.com'>Duncan Gough</a>, with a spoonful of help from <a href='https://github.com/peterc/pismo'>pismo</a>. Code available on <a href='https://github.com/suttree/Give-Good-Sunflower'>github</a>.</li>
  </ol>

  <%= render :partial => 'shared/twitter_button' %>
</div>
