O hai, <%= current_user.login %>
<br/>
<%= image_tag current_user.picture_url %>

<% @articles.each do |article| %>
  <h1><%= article.title %></h1>
  <h2><%= image_tag(article.favicon, :width => 16, :height => 16) rescue nil %> <%= link_to article.url, article.url %></h2>
  <p>
    <%= article.html_body.html_safe %>
  </p>
  <small>
    /via <a href='http://twitter.com/<%= article.twitter_screen_name %>/statuses/<%= article.tweet_id %>'><%= article.twitter_screen_name %></a>
    | <iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0" style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;" src="http://www.instapaper.com/e2?url=<%= CGI.escape(article.url) %>&title=<%= CGI.escape(article.title) %>&description=<%= CGI.escape('Via ' + request.host) %>" ></iframe>
    | <a href="http://pinboard.in/add?url=<%= CGI.escape(article.url) %>&title=<%= CGI.escape(article.title) %>&description=<%= CGI.escape('Via ' + request.host) %>" target='_blank'>Pinboard</a>
  </small>
<% end %>

<%= will_paginate( @articles,
  :renderer => GmailPaginationLinkRenderer,
  :first_label => "« Newest",
  :previous_label => "‹ Newer",
  :next_label => "Older ›",
  :last_label => "Oldest »",
  :summary_label => "%d - %d of %d"
) %>
