<%= render :partial => '/shared/pic' %>


<% @articles.each do |article| %>


  <h1><%= article.title %></h1>
  <div class='url'>
    &lfloor; <%= link_to truncate(article.url, :length => 100), article.url %>
  </div>
  <div class='dock'>
    <a href='/'>« Back to home</a>
    <!--
    <% if @articles.current_page > 1 %>
      <a href='/unread/<%= params[:page].to_i - 1 %>'>« Previous page</a>
    <% end %>
    -->
    <a href='http://twitter.com/<%= article.twitter_screen_name %>/statuses/<%= article.tweet_id %>'>/via @<%= article.twitter_screen_name %></a>
    <% if @articles.current_page < @articles.total_pages %>
      <a href='/unread/<%= params[:page].to_i + 1 %>'>Next page »</a>
    <% end %>
  </div>
  <div class='article'>
    <%= article.html_body.html_safe %>
  </div>
  <div class='cta'>
    <ul>
      <li>
        <iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0" style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;" src="http://www.instapaper.com/e2?url=<%= CGI.escape(article.url) %>&title=<%= CGI.escape(article.title) %>&description=<%= CGI.escape('/via ' + request.host) %>" ></iframe>
      </li>
      <li>
        <img src='/images/pinboard.gif' class='pinboard' /><a href="http://pinboard.in/add?url=<%= CGI.escape(article.url) %>&title=<%= CGI.escape(article.title) %>&description=<%= CGI.escape('/via ' + request.host) %>" target='_blank'>Pinboard</a>
      </li>
  </div>
<% end %>

<a name='pagination'> </a>
  <%= will_paginate( @articles,
    :renderer => GmailPaginationLinkRenderer,
    :first_label => "« Newest",
    :previous_label => "‹ Newer",
    :next_label => "Older ›",
    :last_label => "Oldest »",
    :summary_label => "%d of #{@articles.total_pages}"  # CHANGE THIS IN THE LIB FILE, RATHER 
  ) %>
