O hai, <%= current_user.login %>
<br/>
<%= image_tag current_user.picture_url %>

<% current_user.articles.each do |article| %>
  <h1><%= article.title %></h1>
  <h2><%= image_tag(article.favicon, :width => 16, :height => 16) rescue nil %> <%= link_to article.url, article.url %></h2>
  <p>
    <%= article.html_body.html_safe %>
  </p>
  <small>
    /via <a href='http://twitter.com/<%= article.twitter_screen_name %>/statuses/<%= article.tweet_id %>'><%= article.twitter_screen_name %></a>
    | Read later
    | Pinboard
  </small>
  <hr/>
<% end %>
